/***************************************
 *               ROOT                 *
 ***************************************/
:root {
    --color-blue: #0084fd;
    --color-light_blue: #b5ddff;
    --color-violet: #9792e4;
    --color-dark_gray: #333333;
    --color-white: #ffffff;
}



/***************************************
 *               RESET                 *
 ***************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Comic Neue', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/***************************************
 *               COMMON                *
 ***************************************/

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;
    /*debug*/
    background-color: rgb(218, 169, 169);
}

.ul-none {
    list-style-type: none;
}

.a-none {
    text-decoration: none;
}

.flex {
    display: flex;
}

.padding-section {
    padding: 3rem 0;
}

.padding-content{
    padding: 1rem;
}

.margin-bottom-content{
    margin-bottom: 1rem;
}
/***************************************
 *               HEADER                *
 ***************************************/

.header-nav {
    height: 70px;
    width: 100%; 
    background-color:var(--color-blue) ;
}

.header-nav nav.flex {
    justify-content: space-between;
    align-items: center;
}

.header-nav a 
 {
    /*debug*/
    background-color: aliceblue;
}

 .header-nav ul {
    display: none;
} 
 
.header-nav li {    /*tranne il btn che non lo avrà*/
    margin: 0 1rem;
}

/*DESKTOP*/

@media screen and (min-width: 992px) {
    .container{
        /*debug*/
        background-color: #34536e;
    }

    .header-nav ul {
        display: flex;
    }            

    .header-nav .menu {
        display: none;
    }
} 

/***************************************
 *               MAIN                  *
 ***************************************/

 /***************************************
 *          DEMO-APPLICATION            *
 ***************************************/
 
 .demo-application.flex { /*da vedere bene, vorrei mettere gap*/
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
.demo-application .demo-cards {
    background-color: var(--color-light_blue);
    border-radius: 1rem;
}

/*TABLET*/

@media  screen and (min-width:768px) {
    .container {
        /*debug*/
        background-color: rgb(209, 166, 211);
    }

    .demo-application .demo-cards {
        width: calc(98% / 3)
    }

    .demo-application .demo-cards:first-child {
        width: calc(( 98% / 3 ) * 2);
    }

    
}

/*DESKTOP*/

@media screen and (min-width:992px) {
    .demo-application .demo-cards:first-child {
        display: flex;
    }

    .demo-cards .cards-text, .demo-cards .cards-img {
        width: 50%;
        margin-right: 1rem;
        /*debug*/
        background-color: #d06767;
    }
}

/***************************************
 *          STRATEGIC PLANNING         *
 ***************************************/

 .planning {
    background-color: var(--color-violet);
 }

.planning .planning-text {
    /*debug*/
    background-color: antiquewhite;
}

.planning .planning-cards {
    border-radius: 3rem;
    text-align: center;
    /*debug*/
    background-color: var(--color-white);
}

/*DESKTOP*/

@media screen and (min-width:992px) {
    .planning-main {
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    
    .planning-text {
        width: 58%;
    }

    .planning-cards {
        width: 40%;
    }
}

/***************************************
 *             TESTIMONIALS            *
 ***************************************/

 .testimonials .testimonials-text {
    text-align: center;
    /*debug*/
    background-color: rgb(145, 59, 59);
 }

 .testimonials .testimonials-cards {
    background-color: var(--color-violet);
    border-radius: 3rem;
    text-align: center;
 }

 /*tablet*/

 @media screen and (min-width:768px) {
    .testimonials .testimonials-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .testimonials-cards .cards-img {
        width: 30%;
    }
    .testimonials-cards .cards-text {
        width: 65%;
        text-align: left;
    }
 }

 /***************************************
 *               BENEFITS               *
 ***************************************/

 .benefits { 
background-color: var(--color-violet);
 }

 .benefits-main> h3 {
    text-align: center;
    /*debug*/
    background-color: aqua;
 }

 .benefits-main .cards-text {
    background-color: var(--color-white);
    border-radius: 1rem;
 }

 /*TABLET*/

 @media screen and (min-width:768px) {
    .benefits-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cards-text {
        width: calc(98% / 2);
    }  
 }

 /*DESKTOP*/

 @media screen and (min-width:992px) {
    .benefits-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cards-text {
        width: calc(98% / 3);
    }  
 }

  /***************************************
 *               ABOUT-US                *
 ***************************************/
 .about-us-text> h3 {
    color: var(--color-violet);
 }

 .about-us-text {
    /*debug*/
    background-color: aqua;
 }

 .about-us-img {
    /*debug*/
    background-color: rgb(153, 94, 165);
 }

