/***************************************
 *               ROOT                 *
 ***************************************/
:root {
    --color-blue: #0084fd;
    --color-light_blue: #b5ddff;
    --color-violet: #9792e4;
    --color-dark_gray: #333333;
}



/***************************************
 *               RESET                 *
 ***************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Comic Neue', cursive;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/***************************************
 *               COMMON                *
 ***************************************/

.container {
    width: 95%;
    margin: 0 auto;
    /*debug*/
    background-color: rgb(218, 169, 169);
}

.ul-none {
    list-style-type: none;
}

.a-none {
    text-decoration: none;
}

.flex{
    display: flex;
}

/***************************************
 *               HEADER                *
 ***************************************/

.header-nav {
    height: 70px;
    width: 100%; 
    background-color:var(--color-blue) ;
}

.header-nav nav.flex {
    justify-content: space-between;
    align-items: center;
}

.header-nav a 
 {
    /*debug*/
    background-color: aliceblue;
    margin: 0 1rem;
}

 .header-nav ul {
    display: none;
} 

@media screen and (min-width: 992px) {
    .header-nav ul {
        display: flex;
    }           

    .header-nav .menu {
        display: none;
    }

    body{
        background-color: slategray;
    }
} 


